{% extends 'base.html.twig' %}

{% block title %}Nuevo Pedido{% endblock %}

{% block body %}
    <h1 class="text-center">Crear nuevo pedido</h1>

    {{ include('pedido/_form.html.twig') }}

    <a class="btn btn-success" href="{{ path('app_pedido_index') }}">back to list</a>
{% endblock %}
